.blogsWrapper {
    margin-left: 24px;
}

.pageTitle {
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.pageTitle::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #DEDBDC;
    top: 30px;
    left: 0;
}
.blogBlock{
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}
.inputBlock{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 153px;
    height: 36px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1A1718;
}
.button img{
    margin-left: 11px;
    color: #1A1718;
}